In [37]:
import pandas as pd

### Split data lahan

In [54]:
df = pd.read_excel('./dataset/data_lahan_full.xlsx')
df.head()

,nama_lahan,suhu_mean,curah_hujan,kelembapan_udara,penyinaran,kelembapan_tanah,jenis_tanah,ketinggian,kemiringan,drainase,ph,tekstur_tanah
0,Bakung,26.202,1133.2,83.806,7.749,0.272,"kompleks litosol, mediteran, renzina",160,45.0,lancar,6.70,berbatu
1,Binangun,25.422,1133.2,83.806,7.749,0.272,mediteran,243,45.0,lancar,6.70,berbatu
2,Doko,24.817,1741.1,84.174,7.208,0.198,asosiasi latosol cokelat dan regosol kelabu,349,30.0,lancar,5.75,liat
3,Gandusari,24.732,1741.1,84.174,7.208,0.198,kompleks regosol dan litosol,348,20.0,lancar,5.75,liat
4,Garum,25.408,1741.1,84.174,7.208,0.198,regosol,276,5.0,lancar,5.25,lempung berpasir

In [55]:
df.columns

Index(['nama_lahan', 'suhu_mean', 'curah_hujan', 'kelembapan_udara',
       'penyinaran', 'kelembapan_tanah', 'jenis_tanah', 'ketinggian',
       'kemiringan', 'drainase', 'ph', 'tekstur_tanah'],
      dtype='object')

In [56]:
iklim = df[['nama_lahan', 'suhu_mean', 'curah_hujan', 'kelembapan_udara', 'penyinaran']]

iklim.to_excel('./dataset/split_data/lahan_iklim.xlsx', index=False)

In [57]:
topografi = df[['nama_lahan', 'ketinggian', 'kemiringan', 'drainase']]

topografi.to_excel('./dataset/split_data/lahan_topografi.xlsx', index=False)

In [58]:
tanah = df[['nama_lahan', 'ph', 'kelembapan_tanah', 'jenis_tanah','tekstur_tanah' ]]

tanah.to_excel('./dataset/split_data/lahan_tanah.xlsx', index=False)

### split data varietas

In [49]:
df1 = pd.read_excel('./dataset/data_varietas.xlsx')
df1

,jenis_varietas,suhu_max,suhu_min,curah_hujan_max,curah_hujan_min,kelembapan_udara_max,kelembapan_udara_min,jenis_tanah,kemiringan_min,kemiringan_max,drainase,tekstur_tanah,kelembapan_tanah_min,kelembapan_tanah_max,ketinggian_min,ketinggian_max,penyinaran_min,penyinaran_max,ph_min,ph_max
0,MM,33,18,1200,500,100,60,asosiasi latosol cokelat dan regosol kelabu,0,45,lancar,"lempung,liat, berpasir",0.3,0.6,500,1000,6,8,4.5,7.7
1,MR,35,20,1200,500,100,50,kompleks regosol dan litosol,0,45,lancar,"lempung,liat,",0.2,0.4,100,300,6,8,4.7,7.2
2,MK,35,22,1200,500,100,50,kompleks regosol dan litosol,0,45,lancar,"lempung,liat, berpasir",0.3,0.5,0,300,6,8,4.5,7.5
3,MW,35,20,1200,500,100,40,kompleks regosol dan litosol,0,30,lancar,"lempung,liat, berpasir",0.3,0.5,0,300,6,8,4.8,7.6
4,MT,30,18,1200,500,100,60,asosiasi latosol cokelat dan regosol kelabu,0,45,lancar,"lempung,liat, berpasir",0.3,0.6,400,800,6,8,4.5,7.7

In [50]:
df1.columns

Index(['jenis_varietas', 'suhu_max', 'suhu_min', 'curah_hujan_max',
       'curah_hujan_min', 'kelembapan_udara_max', 'kelembapan_udara_min',
       'jenis_tanah', 'kemiringan_min', 'kemiringan_max', 'drainase',
       'tekstur_tanah', 'kelembapan_tanah_min', 'kelembapan_tanah_max',
       'ketinggian_min', 'ketinggian_max', 'penyinaran_min', 'penyinaran_max',
       'ph_min', 'ph_max'],
      dtype='object')

In [51]:
iklim = df1[['jenis_varietas', 'suhu_min', 'suhu_max', 'curah_hujan_min', 'curah_hujan_max', 'kelembapan_udara_min', 'kelembapan_udara_max', 'penyinaran_min', 'penyinaran_max']]

iklim.to_excel('./dataset/split_data/varietas_iklim.xlsx', index=False)

In [52]:
topografi = df1[['jenis_varietas','ketinggian_min', 'ketinggian_max', 'kemiringan_min', 'kemiringan_max', 'drainase']]

topografi.to_excel('./dataset/split_data/varietas_topografi.xlsx', index=False)

In [53]:
tanah = df1[['jenis_varietas','ph_min', 'ph_max', 'kelembapan_tanah_min', 'kelembapan_tanah_max', 'jenis_tanah', 'tekstur_tanah']]


tanah.to_excel('./dataset/split_data/varietas_tanah.xlsx', index=False)