CREATE DB

In [1]:
import mysql.connector as mysql

db = mysql.connect(
    host="localhost",
    user="root",
    password="",
    
)
cursor = db.cursor()

In [2]:
#membuat database
cursor.execute("CREATE DATABASE IF NOT EXISTS dataset")

CEK DATABASE

In [3]:
cursor.execute("SHOW DATABASES")
data = cursor.fetchall()
print(data)

[('cancer_diagnosis',), ('dataset',), ('information_schema',), ('mydatabase',), ('mysql',), ('performance_schema',), ('phpmyadmin',), ('test',), ('testing',), ('user_login',)]

In [4]:
# cursor.execute('DROP DATABASE dataset_lahan')

LOAD DATASET TO TABLE DATABASE

In [5]:
import pandas as pd
from sqlalchemy import create_engine

Load Data lahan

In [6]:
db_url = 'mysql+pymysql://root:@localhost/dataset'  
engine = create_engine(db_url)

# Membaca file Excel yang berbeda untuk masing-masing tabel
file_path_lahan_tanah = '../dataset/split_data/lahan_tanah.xlsx'  
file_path_lahan_iklim = '../dataset/split_data/lahan_iklim.xlsx' 
file_path_lahan_topografi = '../dataset/split_data/lahan_topografi.xlsx' 


# Membaca data dari file Excel
lahan_tanah = pd.read_excel(file_path_lahan_tanah)
lahan_iklim = pd.read_excel(file_path_lahan_iklim)
lahan_topografi = pd.read_excel(file_path_lahan_topografi)


# Memasukkan data_lahan ke tabel (tabel dibuat otomatis sesuai dtype dari Excel)
lahan_tanah.to_sql('lahan_tanah', con=engine, if_exists='replace', index=False)
lahan_iklim.to_sql('lahan_iklim', con=engine, if_exists='replace', index=False)
lahan_topografi.to_sql('lahan_topografi', con=engine, if_exists='replace', index=False)

22


Load data varietas

In [7]:
db_url = 'mysql+pymysql://root:@localhost/dataset'  
engine = create_engine(db_url)

# Membaca file Excel yang berbeda untuk masing-masing tabel
file_path_varietas_tanah = '../dataset/split_data/varietas_tanah.xlsx'  
file_path_varietas_iklim = '../dataset/split_data/varietas_iklim.xlsx' 
file_path_varietas_topografi = '../dataset/split_data/varietas_topografi.xlsx' 


# Membaca data dari file Excel
varietas_tanah = pd.read_excel(file_path_varietas_tanah)
varietas_iklim = pd.read_excel(file_path_varietas_iklim)
varietas_topografi = pd.read_excel(file_path_varietas_topografi)


# Memasukkan data_varietas ke tabel (tabel dibuat otomatis sesuai dtype dari Excel)
varietas_tanah.to_sql('varietas_tanah', con=engine, if_exists='replace', index=False)
varietas_iklim.to_sql('varietas_iklim', con=engine, if_exists='replace', index=False)
varietas_topografi.to_sql('varietas_topografi', con=engine, if_exists='replace', index=False)

5

CEK TABEL

In [8]:
db.database = "dataset"

cursor.execute("show tables")
data = cursor.fetchall()
print(data)

[('lahan_iklim',), ('lahan_tanah',), ('lahan_topografi',), ('varietas_iklim',), ('varietas_tanah',), ('varietas_topografi',)]

CEK ISI TABLE

In [12]:
cursor.execute("select * from varietas_tanah")
data= cursor.fetchall()
# for row in data:
#     print(row)

# Mengambil nama kolom
column_names = [i[0] for i in cursor.description]

# Mengubah data menjadi DataFrame
df = pd.DataFrame(data, columns=column_names)

# Menampilkan DataFrame
print(df.dtypes)
df.head()

jenis_varietas           object
ph_min                  float64
ph_max                  float64
kelembapan_tanah_min    float64
kelembapan_tanah_max    float64
jenis_tanah              object
tekstur_tanah            object
dtype: object

,jenis_varietas,ph_min,ph_max,kelembapan_tanah_min,kelembapan_tanah_max,jenis_tanah,tekstur_tanah
0,MM,4.5,7.7,0.3,0.6,asosiasi latosol cokelat dan regosol kelabu,"lempung,liat, berpasir"
1,MR,4.7,7.2,0.2,0.4,kompleks regosol dan litosol,"lempung,liat,"
2,MK,4.5,7.5,0.3,0.5,kompleks regosol dan litosol,"lempung,liat, berpasir"
3,MW,4.8,7.6,0.3,0.5,kompleks regosol dan litosol,"lempung,liat, berpasir"
4,MT,4.5,7.7,0.3,0.6,asosiasi latosol cokelat dan regosol kelabu,"lempung,liat, berpasir"

Cek kolom

In [10]:
cursor.execute("desc lahan_iklim")

print(cursor.fetchall())

[('nama_lahan', 'text', 'YES', '', None, ''), ('suhu_mean', 'double', 'YES', '', None, ''), ('curah_hujan', 'double', 'YES', '', None, ''), ('kelembapan_udara', 'double', 'YES', '', None, ''), ('penyinaran', 'double', 'YES', '', None, '')]